.cart-container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  font-family: "Noto Sans KR", sans-serif;
  color: #333;
}

.cart-container h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 15px;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.cart-table th,
.cart-table td {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.checkbox {
  padding: 10px;
}

.productInfo {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: flex-start;
  text-align: left;
}

.productInfo img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}

.cart-table button {
  padding: 5px 10px;
  font-size: 16px;
  margin: 0 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.delete-btn {
  background-color: #111;
  color: white;
  padding: 6px 14px;
  font-size: 14px;
  border-radius: 5px;
}

.delete-btn:hover {
  background-color: black;
}

.total {
  background-color: #f8f8f8;
  padding: 25px 30px;
  margin-top: 30px;
  border-top: 1px solid #333;
  font-size: 16px;
}

.totalPrice {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.totalProducts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 14px;
}

.order-btn {
  width: 100%;
  padding: 15px 0;
  background-color: #111;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
}

.order-btn:hover {
  background-color: black;
}
